Source: pyvisa
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.8
X-Python-Version: all
X-Python3-Version: >= 3.1
Vcs-Browser: https://salsa.debian.org/python-team/modules/pyvisa
Vcs-Git: https://salsa.debian.org/python-team/modules/pyvisa.git
Homepage: http://pyvisa.sourceforge.net/

Package: pyvisa
Depends: python-pyvisa, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Transitional dummy package for python-pyvisa
 This is a transitional dummy package. It can safely be removed.

Package: python-pyvisa
Architecture: all
Depends: python-pkg-resources, ${python:Depends}, ${misc:Depends}
Recommends: python-pyvisa-py
Suggests: libvisa0
Replaces: pyvisa (<< 1.6.3-2)
Breaks: pyvisa (<< 1.6.3-2)
Description: Python bindings for Virtual Instrument Software Architecture
 The VISA standard provides a common interface for communication with test
 and measurement equipment.
 .
 This package provides Python bindings for VISA.

Package: python3-pyvisa
Architecture: all
Depends: python3-pkg-resources, ${python3:Depends}, ${misc:Depends}
Recommends: python3-pyvisa-py
Suggests: libvisa0
Description: Python 3 bindings for Virtual Instrument Software Architecture
 The VISA standard provides a common interface for communication with test
 and measurement equipment.
 .
 This package provides Python 3 bindings for VISA.
